<div class="container">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href=<%= "/users/#{current_user.id}" %>>Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">To-Do List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/todo-list-items">Your To-Do List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/todo-list-items/new">Add Something to Your List</a>
          <a class="dropdown-item" href="/todo-list-items/overdue">Overdue Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/upcoming">Upcoming Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/incomplete">Incomplete Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/complete">Complete Items on Your List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">Pets</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/pets">Your Pets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pets/new">Add a Pet</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href=<%= "/pets/#{@pet.slug}" %>><%= @pet.name %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    </ul>
  <h1><%= @pet.name %></h1>
  <h3><%= "Species: #{@pet.species}" if @pet.species != "" &&  @pet.species != nil %></h3>
  <h4><%= "Breed: #{@pet.breed}" if @pet.breed != "" &&  @pet.breed != nil %></h4>
  <h4><%= "Birthday/Gotcha Day: #{birthdate_to_display(@pet.birthday)}" if @pet.birthday %></h4><br>
  <form method="GET" action=<%= "/pets/#{@pet.slug}/edit"%>>
    <input type="submit" class="btn btn-primary" value="Edit"><br><br>
  </form>
  <form method="POST" action=<%= "/pets/#{@pet.slug}"%>>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger" value="Delete"><br><br>
  </form>
  <p>
    <a href=<%= "/pets/#{@pet.slug}/to-do" %>>Everything on your To Do List for <%= @pet.name %></a><br>
  </p>
</div>