<div class="container">       <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href=<%= "/users/#{current_user.id}" %>>Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">Your To-Do List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/todo-list-items">Your To-Do List</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="/todo-list-items/overdue">Overdue Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/upcoming">Upcoming Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/incomplete">Incomplete Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/complete">Complete Items on Your List</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href=<%= "/todo-list-items/#{@todo.id}/edit" %>>Editing Your List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">Pets</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/pets">Your Pets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pets/new">Add a Pet</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    </ul>
  <p><%= @message if @message %></p>
  <h1>Edit your To Do List</h1>
  <form action=<%= "/todo-list-items/#{@todo.id}" %> method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="todo[name]">Short Description(ie: "Trim claws", "Vet appoitment", ect...):</label>
    <input type="text" name="todo[name]" value="<%= @todo.name %>"  required>*<br><br>
    <label for="todo[datetime]">Time:</label>
    <input type="datetime-local" name="todo[datetime]" value="<%= date_time_for_todo_edit(@todo.datetime) %>"  required>*<br><br>
    Who are you taking care of?(Must select at least 1 pet)<br>
    <% current_user.pets.each do |pet|%>
      <% if @todo.pets.include?(Pet.find_by(id: pet.id))%>
        <input type="checkbox" name="todo[pet_ids][]" value=<%= "#{pet.id}" %> 
        checked="on">
      <% else%>
        <input type="checkbox" name="todo[pet_ids][]" value=<%= "#{pet.id}" %>>
      <% end%>
      <label for="todo[pet_ids][]"><%= pet.name %></label><br><br>
    <% end%>
    <label for="todo[description]">Anything else to add?</label><br>
    <textarea name="todo[description]"><%= @todo.description %></textarea><br><br>
    <input type="submit" value="Done!">
  </form>
</div>