<div class="container">
  <h1>Edit your To Do List</h1>
  <form action=<%= "/todo-list-items/#{@todo.id}" %> method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="todo[name]">Short Description(ie: "Trim claws", "Vet appoitment", ect...):</label>
    <input type="text" name="todo[name]" value=<%= @todo.name %>><br><br>
    <label for="todo[datetime]">Time:</label>
    <input type="datetime-local" name="todo[datetime]" value="<%= date_time_for_todo_edit(@todo.datetime) %>"><br><br>
    Who are you taking care of?<br>
    <% current_user.pets.each do |pet|%>
      <% if @todo.pets.include?(Pet.find_by(id: pet.id))%>
        <input type="checkbox" name="todo[pet_ids][]" value=<%= "#{pet.id}" %> 
        checked="on">
      <% else%>
        <input type="checkbox" name="todo[pet_ids][]" value=<%= "#{pet.id}" %>>
      <% end%>
      <label for="todo[pet_ids][]"><%= pet.name %></label><br><br>
    <% end%>
    <label for="todo[description]">Anything else to add?</label><br>
    <textarea name="todo[description]"><%= @todo.description %></textarea><br><br>
    <input type="submit" value="Done!">
  </form>
</div>