<div class="container">
  <% if @todos.empty?%>
  <p>
    Looks like you don't have anything to do. <br>
    <a href="/todo-list-items/new">Add something to your list?</a>
  </p>
  <% else %>
    <h1>Your To Do List:</h1>
      <ul>
        <% @todos.each do |todo| %>
          <% if todo.complete == true %>
            <li><a href=<%= "/todo-list-items/#{todo.id}" %>><h3><strike><%= todo.name %></strike></h3></a></li>
          <% else %>
            <li><a href=<%= "/todo-list-items/#{todo.id}" %>><h3><%= todo.name %></h3></a></li>
          <% end %>
        <% end %>
      </ul>
    <p>
      <a href="/todo-list-items/complete">All of the items you've crossed off the list</a>
      <a href="/todo-list-items/new">Make a new item for your To Do List</a><br><br>
      <a href=<%= "/users/#{current_user.id}" %>>Home</a>
    </p>
  <% end%>
</div>