<div class="container">
<ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href=<%= "/users/#{current_user.id}" %>>Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">Your To-Do List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/todo-list-items">Your To-Do List</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="/todo-list-items/new">Add Something to Your List</a>
          <a class="dropdown-item" href="/todo-list-items/overdue">Overdue Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/upcoming">Upcoming Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/incomplete">Incomplete Items on Your List</a>
          <a class="dropdown-item" href="/todo-list-items/complete">Complete Items on Your List</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href=<%= "/todo-list-items/#{@todo.id}" %>><%= @todo.name %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"     aria-expanded="false">Pets</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/pets">Your Pets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pets/new">Add a Pet</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    </ul>
  <h1><%= "#{@todo.name}" %></h1>
  <% if @todo.description && @todo.description != ""%>
    <h4>Description:</h4><p> <%=@todo.description%></p>
  <% end %>
  <h4>Time:</h4><%= datetime_to_displaytime(@todo.datetime) %><br><br>
  <h4>For:</h4>
  <ul>
  <% @todo.pets.each do |pet|%>
    
    <li><%= pet.name %></li>
    
  <% end %>
  </ul><br>
  <h4>Crossed off?</h4><%= @todo.complete == true ? "Yes!" : "No" %><br><br>

  <% if @todo.complete == false %>
    <form method="POST" action=<%= "/todo-list-items/#{@todo.id}/cross-it-off" %>>
      <input type="submit" value="Cross it off!"><br><br>
    </form>
  <% else %>
    <form method="POST" action=<%= "/todo-list-items/#{@todo.id}/put-it-back-on-the-list" %>>
      <input type="submit" value="Put it back on your list?"><br><br>
    </form>
  <% end %>
  <form method="GET" action=<%= "/todo-list-items/#{@todo.id}/edit" %>>
    <input type="submit" value="Edit"><br><br>
  </form>

  <form method="POST" action=<%= "/todo-list-items/#{@todo.id}" %>>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"><br><br>
  </form>
</div>