<div class="container">
  <h1><%= "#{@todo.name}" %></h1>
  <h4>Description:</h4><p><%= @todo.description %></p>
  <h4>Time:</h4><%= datetime_to_displaytime(@todo.datetime) %><br><br>
  <h4>For:</h4>
  <ul>
  <% @todo.pets.each do |pet|%>
    
    <li><%= pet.name %></li>
    
  <% end %>
  </ul><br>
  <h4>Crossed off?</h4><%= @todo.complete == true ? "Yes!" : "No" %><br><br>

  <% if @todo.complete == false %>
    <form method="POST" action=<%= "/todo-list-items/#{@todo.id}/cross-it-off" %>>
      <input type="submit" value="Cross it off!"><br><br>
    </form>
  <% else %>
  <% end %>
  <form method="GET" action=<%= "/todo-list-items/#{@todo.id}/edit" %>>
    <input type="submit" value="Edit"><br><br>
  </form>

  <form method="POST" action=<%= "/todo-list-items/#{@todo.id}" %>>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"><br><br>
  </form>

  <p> 
    <a href="/todo-list-items">Back to your To Do List</a><br>
    <a href="/todo-list-items/new">Add something to your To Do List</a><br>
    <a href=<%= "/users/#{current_user.id}" %>>Home</a>
  </p>
</div>